@font-face {
    font-family: "product-sans";
    src: url("font/product-sans-regular.ttf");
}

@font-face {
    font-family: "product-sans-bold";
    src: url("font/product-sans-bold.ttf");
}

:root {
    font-family: product-sans, sans-serif; 
    --purple: #7249B9;
    --red: #C9372C;
    --green: #22A06B;
    --orange: #F38A3F;
    user-select: none;
}

:root[data-UIStyle="light"] {
    --bg: #F7F8F9;
    --accent: #b7b7b7;
    --bg2: #ebebeb;
    --text: #292929;
    --gray: #a3a3a3;
}

:root[data-UIStyle="dark"] {
    --bg: #292929;
    --accent: #161A1D;
    --bg2: #333333;
    --text: #F7F8F9;
    --gray: #474747;
}

::selection {
    background-color: var(--purple);
}

html {
    border: none;
    color: var(--text);
    scrollbar-width: none;
}

body { 
    font-family: product-sans-bold, sans-serif; 
    text-align: center; 
    padding: 0;
    margin: 0; 
    width: 400px;
    height: auto;
    background-color: var(--bg);
    min-height: 600px;
    transition: background-color 0.5s;

}

nav {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    top: 0;
    padding: 0 8px 0 8px;
    overflow: hidden;
    transition: 0.2s;
    height: 42px;
    background-color: var(--bg);
    z-index: 1;
    transition: background-color 0.5s;
}

p {
    font-family: product-sans;
}

#content {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    width: 100%;
    height: 100%;
    align-items: center;
    min-height: 512px;
}

#title-text {
    font-family: product-sans, sans-serif; 
    font-size: 24px;
    margin: 0;
    transition: 0.2s;
    color: var(--text);
}

#logo {
    height: 80%;
    margin: 6px;
}

#add-answer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text);
    border: solid var(--accent) 2px;
    border-radius: 1vh;
    width: 200px;
    height: 30px;
    font-size: 14px;
    background-color: var(--bg2);
    transition: 0.2s;
    position: relative;
    margin-bottom: 200px;   
    transition: background-color 0.5s;
}

#forms-frame {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    position: relative;
    row-gap: 15px;
    padding-bottom: 15px;
}

.text {
  margin: 0;  
}

.bold {
    font-family: product-sans-bold, sans-serif; 
    color: var(--text);
    user-select: none;
}

.error {
    color: var(--red);
    user-select: text;
}

.medium {
    color: var(--orange);
    user-select: text;
}

.success {
    color: var(--green);
}

.selector-popup {
    display: flex;
    flex-direction: column;
    position: absolute;
    transition: 0.2s;
    width: 200px;
    opacity: 0;
    border-radius: 6px;
    border: solid 2px var(--accent);
    background: var(--bg2);
    top: 30px;
    visibility: hidden;
    transition: background-color 0.5s;
    z-index: 3;
}

#add-answer:hover>.selector-popup {
    opacity: 1 !important;
    transition: 0.2s;
    visibility: visible;
}

.selector-option {
    font-size: 14px;
    background-color: var(--bg2);
    font-family: 'product-sans';
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px var(--bg2);
    border-radius: 6px;
    transition: background-color 0.5s;

}

.selector-option:hover {
    border: solid 1px var(--text);
}

.input-container {
    display: grid;
    gap: 3px;
    position: relative;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto;
}

.input-field {
    width: 35px;
    background-color: var(--bg2);
    border: solid var(--accent) 2px;
    border-radius: 6px;
    height: 30px;
    font-family: 'product-sans';
    text-align: center;
    color: var(--text);
    transition: background-color 0.5s;
    grid-column-end: span 2;

}

input::-webkit-input-placeholder {
    font-family: product-sans;
}

input:-ms-input-placeholder {
    font-family: product-sans;
}

input:-moz-placeholder {
    font-family: product-sans;
}

input::-moz-placeholder{
    font-family: product-sans;
}

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.id-number {
    text-align: left;
    width: 20px;
    margin: 0;
    left: 10px;
    font-size: 18px;
    height: 20px;
}

#bottom-nav {
    position: fixed;
    bottom: 0;
    height: 26px;
    overflow: hidden;
    display: flex;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    transition: background-color 0.5s;
    z-index: 4;
    padding: 0 2% 0 2%;
}

#status {
    margin: 0;
    font-variant-ligatures: none;
    font-family: 'product-sans-bold';
    font-size: 12px;
}

#status::selection {
    background-color: white;
}

.frame-element {
    border: solid 2px var(--accent);
    padding: 10px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 6px;
}

.answer-text {
    margin: 0;
    font-family: 'product-sans-bold';
    font-size: 15px;
}

.container {
    row-gap: 10px;
    display: flex;
    flex-direction: column;
    max-width: 260px;
    align-items: center;
}

.delete-button {
    right: 10px;
    fill: var(--red);
    width: 20px;
}

.add-button {
    padding-left: 10px;
    width: 20px;
    stroke-width: 2px;
    stroke: var(--green);
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.1s;
}

.minus-button {
    width: 20px;
    height: 35px;
    stroke-width: 2px;
    stroke: var(--red);
    stroke-linecap: round;
    stroke-linejoin: round;
    transition: stroke 0.1s;
}

.input-container>.add-button {
    padding: 0;
    height: 35px;
}

.delete-button:hover {
    transform: scale(1.05);
}

.input-container>.add-button:hover {
    transform: scale(1.05);
}

.input-container>.minus-button:hover {
    transform: scale(1.05);
}

#submitForm {
    display: flex;
    width: 80%;
    border: solid 2px var(--accent);
    background-color: var(--bg2);
    color: var(--text);
    font-family: 'product-sans-bold';
    height: 40px;
    border-radius: 6px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: background-color 0.5s;
    position: fixed;
    bottom: 30px;
    z-index: 2;
}

#submitForm:hover {
    transition: 0.2s;
    border: solid 2px var(--text);
}

.submitText {
    margin: 0;
}

.plane {
    height: 25px;
    stroke: var(--text);
    stroke-width: 3;
    stroke-miterlimit: 10;
    stroke-linecap: round;
    stroke-linejoin: round;
    position: absolute;
    right: 20px;
}

.utils-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
    margin-bottom: 10px;
}

.utils-component {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 5px 0;
    height: 30px;
}

.utils-text {
    font-family: 'product-sans-bold';
    padding: 0 10px 0 0;
    text-wrap: nowrap;
    margin: 0;
    font-size: 14px;
    position: relative;
}

.utils-text::before {
    content: '*';
    color: var(--red);
    padding: 2px;
    font-size: 10px;
    position: absolute;
    left: -10px;
    top: -2px;
}

.utils-input {
    width: 100%;
    background-color: var(--bg2);
    border: solid var(--accent) 2px;
    border-radius: 6px;
    height: 25px;
    font-family: 'product-sans';
    padding-left: 6px;
    color: var(--text);
    transition: background-color 0.5s;
}

.day-night-icon {
    stroke: var(--text);
    stroke-width: 1.5;
    height: 75%;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    position: absolute;
    transition: all 0.5s ease-out;
}

.day-night-icon:hover {
    transform: scale(1.05);
}

#moon {
    stroke-width: 1;
}

#sun {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
}

.moon-animated {
    visibility: hidden;
    opacity: 0;
    transform: translateY(20%) rotateZ(50deg);
    transition: all 0.5s ease-out;
}

.sun-animated {
    visibility: visible !important;
    opacity: 1 !important;
    transform: translateY(0) rotateZ(0deg) !important;
    transition: all 0.5s ease-out;
}

#day-night-container {
    position: relative;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
}

#mask {
    position: fixed;
    mask: linear-gradient(transparent, black, black);
    backdrop-filter: blur(8px);
    z-index: 1;
    width: 100%;
    height: 25%;
    bottom: 0;
    pointer-events: none;
}

.gaussian>:first-child {
    grid-column-start: 2 !important;
}

.multi-random>:first-child {
    grid-column-start: 3 !important;
}

.random>:first-child {
    grid-column-start: 4 !important;
}


.input-element:nth-last-child(2):nth-child(5n+1) {
    grid-column-start: 5;
    height: 20px;
    padding-top: 7.5px;
}

.input-element:nth-last-child(1):nth-child(5n+1) {
    grid-column-start: 5;
    grid-column-end: span 2;
    width: 42.55px;
    height: 20px;
    padding-top: 7.5px;
}

.input-field:nth-last-child(3):nth-child(5n+1) {
    grid-column-start: 5;
}

/*For 2 elements*/
.input-field:nth-last-child(4):nth-child(5n+1), .biased .input-field:nth-last-child(n+4):nth-last-child(-n+4):first-child {
    grid-column-start: 4;
}

.input-field:nth-last-child(5):nth-child(5n+1), .biased .input-field:nth-last-child(n+5):nth-last-child(-n+5):first-child {
    grid-column-start: 3;
}

.input-field:nth-last-child(6):nth-child(5n+1), .biased .input-field:nth-last-child(n+6):nth-last-child(-n+6):first-child{
    grid-column-start: 2;
}

.unavailable {
    pointer-events: none;
    stroke: var(--gray);
    transition: stroke 0.1s;
}

.buttons-container {
    height: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
    align-items: center;
    margin-bottom: 6px;
}

.clear-buttons {
    width: 70px;
    height: 20px;
    border: solid 1px var(--red);
    color: var(--red);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    font-family: 'product-sans-bold';
    font-size: 12px;
}

.clear-buttons:hover {
    transform: scale(1.01);
}

.hidden {
    /*opacity: 0;
    visibility: hidden;*/
    border: solid 1px var(--gray);
    color: var(--gray);
    pointer-events: none;
}